.skills {
    background: #f5f8fd;
    margin-top: 50px;
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
}

.intro-lines {
    padding: 0px 30px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--border-color);
}

.skill-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px 40px;
    flex-wrap: wrap;
}

.skill-icon{
    font-size: 40px;
}
