.home-container {
    width: 78%;
    float: right;
    overflow-x: hidden;
    max-height: 100vh;    
    background: var(--background-dark-color);

}
.section-container {
    width: 78%;
    float: right;
    /* min-height: 100vh;     */
}

.intro-lines{
    padding: 0px 30px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--border-color);
}
