
.section-title{
    font-size: 42px;
font-family: 'Poppins', sans-serif;
font-weight: 700;
/* color: var(--font-dark-color-2); */
color: var(--border-color);
padding: 30px;
position: relative;
}

.section-title::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 7%;
    top: 82px;
   
    background: var(--primary-color);
    left: 30px;
}
span{
    content: "";
    position: absolute;
    opacity: 10%;
    font-size: 80px;
    top: -10px;
    left: 30px;
}